/* Responsive Sizing */
/* mobile */
html {
    font-size: 14px;
}
/* tablet */
@media only screen and (min-width: 480px) {
    html {
        font-size: 16px;
    }
}
/* desktop */
@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}
/* extra large */
@media only screen and (min-width: 1024px) {
    html {
        font-size: 20px;
    }
}

/* Responsive Image */
.logo{
    height:3rem;
    width:3rem;
    background: url(https://example.com/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }